* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {	
    --color-orange: #ff6900;
    --color-red: #ff0000;
    --color-green: #008000;
    --color-black: #1a1a1a;
    --color-light-grey: #c9cdcf;
}

.text-small{
    font-size: 0.8em;
}


.bold{
    font-weight: bold;
}

.upper-case{

    text-transform: uppercase;
}

.bg-black{
    background-color: var(--color-black);
}

.cl-white{
    color: #fff;
}

.cl-red{
    color: var(--color-red);
}

.bg-orange {
    background-color: var(--color-orange);
}

.bg-red {
    background-color: var(--color-red);
    padding: 0 5px;
}

.bg-green {
    background-color: var(--color-green);
    padding: 0 5px;
}

.debug {
    border: 1px solid red;
}

a {
    text-decoration: none;
    color: inherit; 
}

ul {
    list-style: none;
}

.max-width {
    max-width: 1200px;
    margin: 0 auto;
}


.d-flex {
    display: flex;
}

.row {
    flex-wrap: wrap;
    gap: 15px;
}


.col img{
    width: 100%;
    padding-top: 40px;
}

header{
    height: 50px;
}

.width100{
    width: 100%;
}

.content-center {
    justify-content: space-between;
    align-items: center;
}

.gap-10{
    gap: 10px;
}

.logo img{
    width: 120px;
}

main{
    margin: 20px auto;
    max-width: 1200px;
    min-height: 100vh;
}

.miniature img{
    width: 200px;
    height: auto;
}

.full-image img{
    width: 400px;
    height: auto;
}


footer{
    background-color: var(--color-black);
    height: 100px;
}

.height100{
    height: 100%;
}

.paddingT-5{
    padding-top: 5px;
}

.item-center {
    justify-content: center;
    align-items: center;
}

.d-col{
    display: flex;
    flex-direction: column;
}
text-center{
    text-align: center;
}
