* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

:root {	
    --color-orange: #ff6900;
    --color-red: #ff0000;
    --color-green: #008000;
    --color-black: #1a1a1a;
    --color-light-grey: #c9cdcf;
}

.text-small{
    font-size: 0.8em;
}

.text-medium{
    font-size: 25px
}


.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 35px;
  }

.upper-case{

    text-transform: uppercase;
}

.bg-black{
    background-color: var(--color-black);
}

.cl-light-grey{
    color: var(--color-light-grey);
}

.cl-white{
    color: #fff;
}

.cl-red{
    color: var(--color-red);
}

.text-justify{
    text-align: justify;
}
.bg-orange {
    background-color: var(--color-orange);
}

.bg-red {
    background-color: var(--color-red);
    padding: 0 5px;
}

.bg-green {
    background-color: var(--color-green);
    padding: 0 5px;
}

.debug {
    border: 1px solid red;
}

a {
    text-decoration: none;
    color: inherit; 
}

ul {
    list-style: none;
}

.max-width {
    max-width: 1200px;
    margin: 0 auto;
}


.d-flex {
    display: flex;
}

.row {
    flex-wrap: wrap;
    gap: 15px;
}


.col img{
    width: 100%;
    padding-top: 40px;
}

header{
    height: 50px;
}

.width100{
    width: 100%;
}

.content-center {
    justify-content: space-between;
    align-items: center;

}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}


.gap-40{
    gap: 40px;
}
.gap-10{
    gap: 10px;
}

.logo img{
    width: 120px;
}

main{
    margin: 20px auto;
    max-width: 1200px;
    min-height: 100vh;
}

.miniature img{
    width: 90px;
    height: auto;
}

.full-image img{
    width: 400px;
    height: auto;
}


footer{
    background-color: var(--color-black);
    height: 100px;
}

.height100{
    height: 100%;
}

.paddingT-5{
    padding-top: 5px;
}

.item-center {
    justify-content: center;
    align-items: center;
}

.d-col{
    display: flex;
    flex-direction: column;
}

.align-start{
    align-items: flex-start;
}

text-center{
    text-align: center;
}

.text-width{
    width: 45%;
    height: auto;
}

.buy{
    background-color: var(--color-orange);
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buy:hover{
    background-color: var(--color-green);
}

.paddingT-15{
    padding-top: 15px;
}

.paddingT-25{
    padding-top: 25px;
}

.display-none{
    display: none;
}

