* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {	
    --color-orange: #ff6900;
    --color-red: #ff0000;
    --color-green: #008000;
    --color-black: #1a1a1a;
    --color-light-grey: #c9cdcf;
}

.text-small{
    font-size: 0.8em;
}

.bold{
    font-weight: bold;
}

.upper-case{
    /*transform all letters in capitol letter */
    text-transform: uppercase;
}

.cl-white{
    color: #fff;
}

.cl-red{
    color: var(--color-red);
}

.debug {
    border: 1px solid red;
}

ul {
    list-style: none;
}

.max-width {
    max-width: 1200px;
    margin: 0 auto;
}

.bg-orange {
    background-color: var(--color-orange);
}

.bg-red {
    background-color: var(--color-red);
    padding: 0 5px;
}

.bg-green {
    background-color: var(--color-green);
    padding: 0 5px;
}

.d-flex {
    display: flex;
}

.row {
    flex-wrap: wrap;
    gap: 15px;
}

.col {
    width: calc((100% - 30px) / 3);
    position: relative;
}

.discount{
    position: absolute;
    top: 80%;

}

.col img{
    width: 100%;
    padding-top: 40px;
}

header{
    height: 50px;
}

.width100{
    width: 100%;
}

.content-center {
    justify-content: space-between;
    align-items: center;
}

.gap-10{
    gap: 10px;
}

.logo img{
    width: 120px;
}

main{
    margin: 20px auto;
    max-width: 1200px;
}

.heart{
    background: #ffffff;
    padding: 7px 7px;
    width: 30px;
    position: absolute;
    top: 8%;
    right: 0%;
}